@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: #FEFFFF;
}

.wrapper {
    /*height: 100%;*/
    display: flex;
    flex-direction: column;
}

.wrapper__content {
    flex: 1 0 auto;
}

a {
    text-decoration: none;
    color: #FEFFFF;
}

img {
    width: 100%;
    height: auto;
}

h1 {
    font-weight: 400;
    font-size: 2em;
    line-height: 1.25em;
}

h2 {
    font-weight: 400;
    font-size: 1.5em;
}

.header {
    background: #2B7A78;
    width: 100%;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
    height: 100%;
}

.header__container-logo {
    margin: 0.5em;
    width: 10em;
}

.header__container-nav {
    height: 100%;
}

.header__container-nav a {
    display: inline-block;
    height: 100%;
    width: 10em;
    text-align: center;
    font-weight: 300;
    font-size: 20px;
    line-height: 4em;
}

.header__container-mobile-nav {
    display: none;
    height: 100%;
    width: 100%;
}

.header__container-mobile-nav a {
    height: 100%;
    min-width: 33.33%;
    text-align: center;
    font-weight: 300;
    font-size: 20px;
    line-height: 4em;
}

.active {
    background: #17252A;
}

.content {
    height: 100%;
}

.documentation {
    background: #ffffff;
    overflow: hidden;
}

.documentation__sidebar {
    padding: 2em 2em 0;
    width: 300px;
    position: absolute;
    float: left;
}

.documentation__sidebar-menu {
    width: 100%;
    border-bottom: 1px solid #17252A;
    padding-bottom: 1em;
    margin-bottom: 2em;
}

.documentation__sidebar-menu a {
    display: inline-block;
    width: 100%;
    color: #17252A;
    padding: 20px 0;
}

.documentation__mobile-sidebar {
    display: none;
    background: #FEFFFF;
    width: 100%;
    overflow: scroll;
    border-bottom: 1px solid #17252A;
}

.documentation__mobile-sidebar-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.documentation__mobile-sidebar-menu a {
    width: 100%;
    color: #17252A;
    padding: 1em 4em;
    line-height: 1em;
    text-align: center;
}

.documentation__content {
    background: #f7f7fa;
    line-height: 1.5em;
    font-weight: 300;
    margin-left: 300px;
    min-height: 600px;
    overflow: hidden;
    width: calc(100% - 300px);
    padding: 2em 75px 50px 3em;
}

.documentation__content-title {
    color: #17252A;
    font-weight: 600;
    padding: 0.25em 0;
}

.documentation__content p {
    color: #17252A;
    padding: 0.5em 0;
}

.documentation__content-installing {
    color: #17252A;
    line-height: 1em;
    padding: 0.25em 0;
}

.documentation__content a {
    color: #17252A;
    text-decoration: underline;
}

.documentation__content-installing-code {
    border-radius: 0.75em;
    background: #DEF2F1;
    line-height: 1em;
}

pre {
    display: flex;
    justify-content: start;
    flex-direction: column;
}

pre code.hljs {
    padding: 2em;
    border-radius: 0.75em;
    background: #DEF2F1;
}

.documentation__content table {
    background: #FEFFFF;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #2B7A78;
    margin-bottom: 25px;
    margin-top: 0.5em;
}

.documentation__content table thead {
    background: #2B7A78;
}

.documentation__content table tr {
    border-bottom: 1px solid #2B7A78;
}

.documentation__content table tr:last-child {
    border: 0;
}

.documentation__content table thead th {
    padding: 10px 0;
    text-align: center;
}

.documentation__content table td {
    padding: 25px;
    color: #17252A;
}

.footer {
    display: flex;
    flex: 0 0 auto;
    background: #2B7A78;
    width: 100%;
    height: 7em;
    font-size: 1.2em;
}

.footer__container {
    margin: auto;
}

.footer__container-nametag span {
    opacity: 0.75;
}

@media screen and (max-width: 800px) {
    body {
        font-size: 14px;
    }
    .header__container {
        flex-direction: column;
    }

    .header__container-nav {
        display: none;
    }

    .header__container-mobile-nav {
        display: flex;
    }

    .logo {
        display: block;
        margin: 1.5em auto 0;
        width: 10em;
    }

    .documentation__sidebar {
        display: none;
    }

    .documentation__mobile-sidebar {
        display: block;
    }

    .documentation__content {
        padding-top: 2em;
        padding-left: 3em;
        padding-right: 3em;
        width: 100%;
        margin-left: 0;
    }
}